* {
    margin: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
}
body {
    background-color: black;
}
#headingOne {
    height: 8hv;
    color: white;
    width: 99vw;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 3px goldenrod solid;
}
.blogs {
    width: 99%;
    border: 2px green solid;
}
.blogDate {
    height: 20px;
    width: 80vw;
    text-align: center;
    font-size: 25px;
    margin-bottom: 10px;
}
/* .yap {
    font-size: 14px;
} */
p {
    font-size: 18px;
}
